import { default as comp } from "../dataset.json";
<div.container.is-fluid>
    <div.notification.is-primary>
        <p>${comp.page_text[0].content}</p>
        <p>${comp.page_text[1].content}</p>
        <p>${comp.page_text[2].content}</p>
    </div>
</div>
