<div.sort>
    <p>Sort by</p>
    <div.select>
        <select>
            <option>Price</option>
            <option>Model</option>
            <option>Type</option>
            <option>Year</option>
        </select>
    </div>
</div>
